<h1 id="store_name"><%=@store.name %></h1>
<div id="store_region">
	Region: <%= @store.region.name %>
</div>
<div id="store_number">
	Store Number: <%= @store.number %>
</div>
<div id="store_status">
	Status: <%= @store.status %>
</div>