<div class="row errors">
	<h4><%= pluralize(object.errors.count, 'error')%> prevented this <%= object.class.to_s.downcase %> from being entered</h4>
	<% object.errors.full_messages.each do |msg| %>
		<%= msg %>
	<% end %>
</div>